<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Your Company Name</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- heading for about us -->
        <h1>About Us</h1>
    </header>
    <main>
        <section id="company-info">
            <h2>Welcome to TELEMED!</h2>
            <!-- content inside about us -->
            <p>At Telemed, we believe in providing healthcare facilities to those who are underpriviledged and don't get good facilities in affordable price. Our company provides all those facilities but in a very affordable price to all the citizens. Our company collabs with the government to establish healthcare facilities in villages so that they don't have to travel very far to get the healthcare facilities.
            Our journey began in 2024, driven by the vision to provide healthcare facilities to the underserved communities.</p>
        </section>
        <section id="team">
            <!-- team description -->
            <h2>Meet the Team Tech Titans</h2>
            <ul>
                <li>Vibhi Rawat(Leader)</li>
                <li>Lokendra Pandey</li>
                <li>Udit Vedwal</li>
                <li>Rohit Das</li>
            </ul>
        </section>
    </main>
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
