<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Your Company Name</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Contact Us</h1> <!--heading for contact us-->
    </header>
    <main>
        <section id="contact-info">
            <p>Dear User, for any further queries you can contact us through: </p>
            Mobile number:- 989766XXXX
            Telephone number:- 998865XXXX
            Toll Free number:- 898989XXXX
            Helpline number:- 9XX
            email:- telemedweb@query.com
        </section>
        <section id="contact-form">
            <h2>Contact Form</h2>      <!--sub-heading contact form-->
            <!-- Add contact form here -->
        </section>
    </main>
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
