<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <title>TeleMed</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #589ffd;
  --primary-color-dark: #3d6ff7;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo {
  font-size: 3.0rem;
  font-weight: 800;
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.header {
  padding: 0 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.content h1 span {
  font-weight: 400;
}

.content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.image {
  position: relative;
  text-align: center;
  isolation: isolate;
}

.image__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  border-radius: 100%;
  z-index: -1;
}

.image img {
  width: 100%;
  max-width: 475px;
}

.image__content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image__content__1 {
  transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image__content__1 span {
  padding: 10px 12px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: #defcf4;
  border-radius: 100%;
}

.image__content__1 h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.image__content__1 p {
  color: var(--text-light);
}

.image__content__2 {
  transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image__content__2 ul {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.image__content__2 li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--text-light);
}

.image__content__2 span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    text-align: center;
  }

  .image {
    grid-area: 1/1/2/2;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn{
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1-content a:hover {
  background-color: #f1f1f1;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}
  </style>
</head>
<script src="//code.tidio.co/xk6ozb0i4gnywsii9fgmkjhrteya6inc.js" async></script>
<body>
  <div class="container">   <!-- all the content is stored in this class container -->
    <nav> <!-- creating navigation bar -->
      <img src="TELEMED.png" alt="" width="150px"><!-- logo of the website -->
      <!-- <div class="nav__logo">TELEMED</div> -->
      <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>  <!-- home button -->
        <li class="link"><a href="about.html">About Us</a></li> <!-- about us button -->
        <!-- <li class="link"><a href="#">Pages</a></li> -->
        <li class="link"><a href="contact.html">Contact Us</a></li>   <!-- contact us button -->
        <!-- <li class="link"><a href="appointement.html">Book Appointment</a></li> booking appointment option -->
        <!-- <div class="dropdown">
          <button class="dropbtn">Register Now</button>  reference for register button
          <div class="dropdown-content">
            <a href="register.html">As doctor</a>  reference for registering as doctor
            <a href="register1.html">As patient</a> reference for registering as patient
          </div>
        </div> -->
        <div class="dropdown1">
          Hello Doctor!
          <button class="dropbtn">View Profile</button> <!-- reference to view profile for doctor button -->
        </div>
      </ul>
    </nav>
    <header class="header">
      <div class="content">
        <h1><span>Tele-Medicine </span><br />Healthcare</h1>
        <p> <!--content of paragraph-->
          In today's fast-paced world, access to prompt and efficient medical
          services is of paramount importance. When faced with a medical
          emergency or seeking immediate medical attention, the ability to
          receive quick medical services can significantly impact the outcome
          of a situation.
        </p>
        <button class="btn" onclick="redirectToPage()">Visit Your Dashboard</button>
        <script>
          function redirectToPage() {
        // Replace 'another-page.html' with the URL of the page you want to redirect to
        window.location.href = 'doctordashboard.hbs';
        }
  </script>
      </div>
      <div class="image">
        <span class="image__bg">
          <img src="pic.jpg" width="400px"> <!--logo for the website-->
        </span>
      </div>
      <div class="image__content image__content__2">
        <ul>
          <li>
            <span><i class="ri-check-line"></i></span>
            24/7 Support By doctors   <!--additional briefing-->
          </li>
          <li>
            <span><i class="ri-check-line"></i></span>
            Expert Doctors MBBS/MD Graduates   <!--additional briefing-->
          </li>
        </ul>
      </div>
  </div>
  </header>
  </div>
</body>

</html>
